// Main Sass file

@import "bourbon";
@import "neat";

@import "casper-temp"; // Great to start making small changes to the casper blog.
@import "base/base";



.page-description {
  font-family: "Georgia", serif;
}
.page-title {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 500;
}



